<!-- templates/exchange/history.html -->
{% extends './base.html' %}

{% block content %}
    <h2>История обменов</h2>
    <table>
        <tr>
            <th>Дата</th>
            {% if is_admin %}
                <th>Оператор</th>
            {% endif %}
            <th>Продажа</th>
            <th>Покупка</th>
            <th>Отдано</th>
            <th>Получено</th>
            <th>Сдача</th>
        </tr>
        {% for transaction in transactions %}
        <tr>
            <td>{{ transaction.0|date:"d.m.Y" }}</td>
             {% if is_admin %}
                <td>{{ transaction.6 }}</td>
            {% endif %}
            <td>{{ transaction.1 }}</td>
            <td>{{ transaction.2 }}</td>
            <td>{{ transaction.3 }}</td>
            <td>{{ transaction.4 }}</td>
            <td>{{ transaction.5 }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'exchange:rates' %}">Назад к курсам</a>
{% endblock %}

