<!-- templates/exchange/rates.html -->
{% extends './base.html' %}

{% block content %}
    <header>
        <h1>Добро пожаловать в Обменник валют</h1>
        <nav>
            <ul>
                {% if user.is_superuser %}
                    <li><a href="{% url 'exchange:add_exchange_rate' %}">Добавить обменный курс</a></li>
                    <li><a href="{% url 'exchange:cash_reserves' %}">Список валют</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                <li><a href="{% url 'exchange:rates' %}">Курсы валют</a></li>
                    {% if not user.is_superuser %}
                        <li><a href="{% url 'exchange:exchange_currency' %}">Обменять валюту</a></li>
                    {% endif %}
                    <li><a href="{% url 'exchange:exchange_history' %}">История обменов</a></li>
                {% endif %}

            </ul>
        </nav>
    </header>
{% endblock %}
