<!-- templates/exchange/rates.html -->
{% extends './base.html' %}

{% block content %}
    <h2>Курсы валют</h2>
  {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <table>
        <tr>
            <th>Валюта</th>
            <th>Стоимость</th>
            <th>Дата</th>
            {% if user.is_superuser %}
                <th>Осталось в кассе</th>
                <th>Действия</th>
            {% endif %}
        </tr>
        {% for rate in rates %}
        <tr>
            <td>{{ rate.currency_name }}</td>
            <td>{{ rate.rate_to_base }}</td>
            <td>{{ rate.rate_date|date:"d.m.Y" }}</td>
            {% if user.is_superuser %}
                <td>{{ rate.amount_in_cash }}</td>
                <td>
            <!-- Форма для удаления курса -->
                    <form action="{% url 'exchange:delete_rate' rate.rate_id %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" onclick="return confirm('Вы уверены, что хотите удалить этот курс?');"> 🗑️</button>
                    </form>
                </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
{% endblock %}
