<!-- templates/exchange/rates.html -->
{% extends './base.html' %}

{% block content %}
    <h2>Курсы валют</h2>
  {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <table>
        <tr>
            <th>Продажа</th>
            <th>Покупка</th>
            <th>Курс</th>
            <th>Дата</th>
        </tr>
        {% for rate in rates %}
        <tr>
            <td>{{ rate.currency_from }}</td>
            <td>{{ rate.currency_to }}</td>
            <td>{{ rate.rate }}</td>
            <td>{{ rate.date }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'exchange:exchange_currency' %}">Обменять валюту</a>
    <a href="{% url 'exchange:logout' %}">Выйти</a>
{% endblock %}
