<!-- templates/exchange/rates.html -->
{% extends './base.html' %}

{% block content %}
    <h2>Курсы валют</h2>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
<form action="{% url 'exchange:delete_rate' %}" method="post" style="display:inline;">
                        {% csrf_token %}
    <table>
        <tr>
            <th>Валюта</th>
            <th>Стоимость</th>
            <th>Дата</th>
            {% if user.is_superuser %}
                <th>Осталось в кассе</th>
                <th>Выделение</th>
            {% endif %}
        </tr>
        {% for rate in rates %}
        <tr>
            <td>{{ rate.currency_name }}</td>
            <td>{{ rate.rate_to_base }}</td>
            <td>{{ rate.rate_date|date:"d.m.Y" }}</td>
            {% if user.is_superuser %}
                <td>{{ rate.amount_in_cash }}</td>
                <td>
                    <input type="checkbox" name="rates_ids" value="{{ rate.rate_id }}">
                </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
     {% if user.is_superuser %}
        <button type="submit" class="btn btn-danger" onclick="return confirm('Вы уверены, что хотите удалить выбранные курсы?');"> Удалить</button>
     {% endif %}
</form>
{% endblock %}
