/* exchange/static/exchange/styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

h1, h2 {
    color: #007BFF;
}

.container {
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #007BFF;
    color: white;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* styles.css */
.messages {
    list-style: none;
    padding: 0;
}

.messages li {
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

.messages .success {
    background-color: #dff0d8; /* Зеленый фон для успешных сообщений */
    color: #3c763d; /* Темно-зеленый текст */
}

.messages .error {
    background-color: #f2dede; /* Красный фон для ошибок */
    color: #a94442; /* Темно-красный текст */
}
header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
}

.navbar {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
    position: relative;
}

/* Стили для навигационного меню */
.nav-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links ul li {
    display: inline;
    margin-right: 15px;
}

.nav-links ul li a {
    text-decoration: none;
    color: #333;
}

/* Стили для кнопок авторизации */
.auth-links {
    position: absolute;
    right: 20px;
    top: 10px;
}

.auth-links a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    margin-left: 15px;
}